<div class="modal fade bd-example-modal-lg" id="modal-region" tabindex="-1" role="dialog" aria-labelledby="modalRegionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-region">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegionLabel">Укажите город, который требуется найти</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-region__search">
                    <form class="search">
                        <input class="form-control search__input" type="search" placeholder="Поиск по городам" aria-label="Search">
                        <button class="btn btn-primary search__btn" type="submit">Найти</button>
                    </form>
                </div>
                <div class="modal-region__locations">
                    <div class="area-switcher mb-5">
                        <div class="area-switcher__column">
                            <span class="area-switcher__title area-switcher__title_russia">Россия</span>
                            <ul class="area-switcher__cities">
                                <li class="area-switcher__city">
                                    <a href="#">Москва</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Санкт-Петербург</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Волгоград</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Воронеж</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Екатеринбург</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Казань</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Калуга</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Краснодар</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Нижний новгород</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Новосибирс</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Ростов-на-Дону</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Самара</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Саратов</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Сочи</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Уфа</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Ярославль</a>
                                </li>
                            </ul>
                            <div class="area-switcher__more">
                                и еще <a class="link-switch" href="#">3 734 города</a>
                            </div>
                        </div>
                    </div>
                    <div class="area-switcher mb-5">
                        <div class="area-switcher__column">
                            <span class="area-switcher__title area-switcher__title_ukraine">Украина</span>
                            <ul class="area-switcher__cities">
                                <li class="area-switcher__city">
                                    <a href="#">Киев</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Днепр</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Донецк</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Запорожье</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Кривой рог</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Львов</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Одесса</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Харьков</a>
                                </li>
                            </ul>
                            <div class="area-switcher__more">
                                и еще <a class="link-switch" href="#">600 городов</a>
                            </div>
                        </div>
                    </div>
                    <div class="area-switcher mb-5">
                        <div class="area-switcher__column">
                            <span class="area-switcher__title area-switcher__title_belarus">Беларусь</span>
                            <ul class="area-switcher__cities">
                                <li class="area-switcher__city">
                                    <a href="#">Минск</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Брест</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Витебск</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Гомель</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Гродно</a>
                                </li>
                                <li class="area-switcher__city">
                                    <a href="#">Могилев</a>
                                </li>
                            </ul>
                            <div class="area-switcher__more">
                                и еще <a class="link-switch" href="#">132 города</a>
                            </div>
                        </div>
                    </div>
                    <div class="area-switcher mb-5">
                        <div class="area-switcher__column">
                            <span class="area-switcher__title area-switcher__title_uzbekistan">Узбекистан</span>
                            <ul class="area-switcher__cities">
                                <li class="area-switcher__city">
                                    <a href="#">Ташкент</a>
                                </li>
                            </ul>
                            <div class="area-switcher__more">
                                и еще <a class="link-switch" href="#">114 городов</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>