.product-gallery {
	&_min {
		.slick-list {
			padding-left: 1px;
			padding-right: 1px;
		}
		.product-gallery__itm {
			padding: 4px;
			margin-bottom: 12px;
			&.slick-current  {
				border: 1px solid  lighten($primary,20%);
			}
		}
	}

	&_big {
		.slick-next, .slick-prev {
			top: 103%;
		}
	}
	&__itm {
		img {
			width: 100%;
		}
	}
}