.city-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	&__itm {
		margin-bottom: 1rem;
		margin-right: 0.75rem;
		& + & {

		}
	}
	&__text {
		font-weight: bold;
	}
	&__badge {
		margin-left: 0.25rem;
	}
}