.card-product {
	background-color: white;
	box-shadow: 0 0 15px #5b5959;
	padding: 0.875rem 0.875rem 1.5rem 0.875rem; 
	&__title {
		font-size: 1rem;
		margin-top: 0.875rem;
		margin-bottom: 1rem;
		overflow: hidden;
    	text-overflow: ellipsis;
    	height: 24px;
	}
	&__img {
		img {
			width: 100%;
		}
	}
	&__footer {
		display: flex;
		margin-top: 1rem;
		justify-content: space-between;
		align-items: center;
	}
	&__specifications {
		th {
			padding-right: 0.5rem;
		}
	}
	&__price {
		font-weight: bold;
		font-size: 1rem;
	}
}