.dropdown-toggle {
	display: flex;
	align-items: center;
	&_primary {
		background-color: $primary;
		@include transition($btn-transition);
		&:hover,
		&:focus {
			background-color: darken($link-color, 15%);
		}
		.dropdown-toggle__text {
			color: white;
		}
	}
	&_caret_none {
		&::after {
			display: none;
		}
	}
	&__text {
		text-transform: uppercase;
		margin-left: 0.5rem;
	}
}